@import './css/reset.css';

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SFProDisplay-Semibold.ttf');
}